body {
	background: -moz-linear-gradient(left, #FFC778, #FFF);
  background: -webkit-linear-gradient(left, #FFC778, #FFF);
  background: linear-gradient(to right, #FFC778, #FFF);
 #FFF);
}

.submit_button  {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd),
		to(#aaa));
	background-image: -webkit-linear-gradient(top, #ddd, #aaa);
	background-image: -moz-linear-gradient(top, #ddd, #aaa);
	background-image: -ms-linear-gradient(top, #ddd, #aaa);
	background-image: -o-linear-gradient(top, #ddd, #aaa);
	background-image: linear-gradient(top, #ddd, #aaa);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddd',
		endColorstr='#aaa', GradientType=0);}

table.managementable {
	margin-left: auto;
	margin-right: auto;
	 width: 75%;
	 height: 40%;
	}




a{
	text-decoration: none;
	color: 	#555555;
}

a:hover{
	color: #000000;
}
.header {
	text-align: left;
}


.copyright {
	width: 90%;
	text-align: center;

}


.errorMessages {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;

	color: red;
}

th{
	text-align: center;
vertical-align: middle;
background-color: #FF9966;

}
td{
	text-align: center;
vertical-align: middle;
background-color: #FFFFDD;
}

.edit{
	color: red;

}
.edit:hover{

	background-color: #AAAAAA;
	color: #FF0000;
}
.editbutton{
	background-color: #EEEEEE;
	color:#0000FF;
}
.editbutton:hover{
	background-color:#0000FF;
	color: white;
}
.sign{
	background-color: #EEEEEE;
	color:#0000FF;
	font-weight: bold;
	padding:5px 41px;
	 border-radius: 10px;
	font-weight: bold;
	margin-left: 2%;
}
.sign:hover{
	background-color:#0000FF;
	color: white;
}
.home{
	background-color: #EEEEEE;
	color:#0000FF;
	font-weight: bold;
	padding:5px 10px;
	 border-radius: 10px;
	font-weight: bold;
	margin-left: 2%;
}
.home:hover{
	background-color:#0000FF;
	color: white;
}