body {
	background: -moz-linear-gradient(left, #FFC778, #FFF);
  background: -webkit-linear-gradient(left, #FFC778, #FFF);
  background: linear-gradient(to right, #FFC778, #FFF);
 #FFF);
}

.submit_button  {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd),
		to(#aaa));
	background-image: -webkit-linear-gradient(top, #ddd, #aaa);
	background-image: -moz-linear-gradient(top, #ddd, #aaa);
	background-image: -ms-linear-gradient(top, #ddd, #aaa);
	background-image: -o-linear-gradient(top, #ddd, #aaa);
	background-image: linear-gradient(top, #ddd, #aaa);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddd',
		endColorstr='#aaa', GradientType=0);}




.header {
	text-align: right;
}


.copyright {
	width: 90%;
	text-align: center;

}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;

	color: red;
}
form {
	max-width: 100%; max-height : 100%;
	margin: 0 auto;
	max-height: 100%;margin: 0 auto;
}
input {
	max-width: 100%;
	max-height: 100%;
	border-radius: 10px;
	padding: 10px;

}
.put{
	background-color: #EEEEEE;
	color:#0000FF;
}
.put:hover{
	background-color:#0000FF;
	color: white;
}
.message{
	border: solid 3px #6091d3;
	width:600px;
	margin-left:25%;
	background:  #FFFFDD;
	 border-radius: 10px;

}
.messageform{
	margin-left:5%;
	margin-bottom:2%;
}

